{# The following is to test the drivers unit tests #}

    [[fcm_make_driversexz]]
        inherit=LINUX
        [[[environment]]]
            ROSE_TASK_APP = fcm_make_drivers

    [[fcm_make2_driversexz]]
        inherit = None, HPC_EX
        [[[job]]]
            execution time limit = PT10M
        [[[environment]]]
            ROSE_TASK_APP = fcm_make_drivers
            ROSE_TASK_N_JOBS = 1
        [[[directives]]]
            -l ncpus = 1
	    -q = shared

{# The following is to test the drivers in a model run #}

{% set NON_RIGOROUS_PATH='--path= --path=$CYLC_SUITE_SHARE_DIR/fcm_make_oceanexz/build-ocean/bin/ --path=$CYLC_SUITE_SHARE_DIR/fcm_make_umexz/build-*/bin/ --path=$CYLC_SUITE_SHARE_DIR/fcm_make_driversexz/extract/drivers/Coupled_Drivers/' %}
{% set CYCLE_INIT = '%04d%02d%02dT%02d%02d' % (BASIS[0],BASIS[1],BASIS[2],BASIS[3],BASIS[4]) %}
{% set NEMO_NPROC_EXZ = NEMO_IPROC_EXZ*NEMO_JPROC_EXZ %}
{% set PPN_EXZ = 128 %}
{% set OMPTHR_OCN = 1 %}
{% set OMPTHR_ATM = 1 %}
{% set HYPERTHREADS = 1 %}
{% set OHYPERTHREADS = 1 %}
{% set IOS_NPROC = 0 %}

    [[HPC_EX]]
        {% set CYCLE_INIT = '%04d%02d%02dT%02d%02d' % (BASIS[0],BASIS[1],BASIS[2],BASIS[3],BASIS[4]) %}
        {% set MODULE_CMD = 'module use /data/d03/moci/MOCI_MODULES/modules; module load GC4-PrgEnv/2022-11a-cpe22.11/4656;' %}
        env-script = "eval $(rose task-env)"
        pre-script = "{{MODULE_CMD}} module list"
        [[[job]]]
            batch system = pbs
        [[[remote]]]
            host = $(rose host-select {{ HOST_HPC }})
        [[[environment]]]
            BASIS_YR = $(rose date --print-format='%Y' {{CYCLE_INIT}})
	    PLATFORM = ex1a
            UMDIR = /common/umdir
            UM_INSTALL_DIR = /common/umdir
            OCEANDIR = /projects/ocean
            CMIP6_ANCILS = /data/d03/moci/INPUT_FILES/GC4_INPUTS_20220804/cmip6
        [[[remote]]]
            host = $(rose host-select {{ 'login.exz' }})
        [[[directives]]]
            -q           = normal

    [[fcm_make_umexz]]
        inherit = HPC_EX
        script = """
             rose task-run --verbose --define=fast-dest-root-orig=$TMPDIR --define=fast-dest-root-cont=$TMPDIR --define='args=--archive'
        """
        [[[environment]]]
            ARCHIVE_FCM_MAKE = true
            CONFIG = meto-ex1a-cce
            ROSE_TASK_N_JOBS = 6
            FCM_MAKE_FILE = main
            OPTIM_LEVEL=safe
        [[[job]]]
            execution time limit = PT1H50M
        [[[directives]]]
            -l ncpus = 6
            -l mem = 32GB
            -q = shared
            -l tmpsize=4gb

    [[fcm_make_oceanexz]]
        [[[job]]]
            batch system = slurm
            execution time limit = PT5M
        [[[environment]]]
            OPTIM_LEVEL=safe
            CONFIG = meto-ex-cce
        [[[directives]]]
            --mem=1G
            --ntasks=1

    [[fcm_make2_oceanexz]]
        inherit = HPC_EX
        script = """
              rose task-run --verbose --define=fast-dest-root-orig=$TMPDIR --define=fast-dest-root-cont=$TMPDIR --define='args=--archive'
        """
        [[[environment]]]
            ARCHIVE_FCM_MAKE = true
            CONFIG = meto-ex-cce
            ROSE_TASK_N_JOBS = 6
            FCM_MAKE_FILE = main
            OPTIM_LEVEL=safe
        [[[job]]]
            execution time limit = PT20M
        [[[directives]]]
            -l select=1:ncpus=6

    [[install_ancilexz]]
        inherit = HPC_EX
        [[[job]]]
            execution time limit = PT20M
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1
        [[[directives]]]
            -l ncpus = 1
            -q = shared

    [[ATMOS_RESOURCEEXZ]]
        [[[environment]]]
            {% set TOTAL_MPI_TASKS_UM = ((ATM_PROCX*ATM_PROCY+(IOS_NPROC if IOS_NPROC is defined else 0))) %}
            {% set TOTAL_CPUS_UM = ((TOTAL_MPI_TASKS_UM*OMPTHR_ATM)) %}
            {% set ATMOS_NODES = ((TOTAL_CPUS_UM/128))|round(0,"ceil")|int %}
            {% set ATMO_MPIPROC_PN = ((TOTAL_MPI_TASKS_UM)/ATMOS_NODES)|round(0,"ceil")|int %}
	    {% set ATMOS_SELECT = '{{ATMOS_NODES}}:ncpus=256:mpiprocs={{ATMO_MPIPROC_PN}}' %}
            ROSE_LAUNCHER_PREOPTS_UM = --cpu-bind=depth -n {{TOTAL_MPI_TASKS_UM}} -d {{OMPTHR_ATM}}
            OMP_NUM_THREADS = {{OMPTHR_ATM}}


    [[OCEAN_RESOURCEEXZ]]
         [[[environment]]]
            {% set OCEAN_NODES = ((NEMO_NPROC_EXZ)/128)|round(0,"ceil")|int %}
            {% set OCEAN_PPN = ((NEMO_NPROC_EXZ)/OCEAN_NODES)|round(0,"ceil")|int %}
            {% set XIOS_NODES = (XIOS_NPROC/128)|round(0,"ceil")|int %}
            {% set NEMO_SELECT = '{{OCEAN_NODES}}:ncpus=256:mpiprocs={{OCEAN_PPN}}' %}
            {% set XIOS_SELECT = '{{XIOS_NODES}}:ncpus=256:mpiprocs={{XIOS_NPROC}}' %}
            ROSE_LAUNCHER_PREOPTS_NEMO = -n {{NEMO_NPROC_EXZ}} -d 1
            ROSE_LAUNCHER_PREOPTS_XIOS  = -n {{XIOS_NPROC}} -d 1


    [[COUPLED_RESOURCEEXZ]]
        inherit = HPC_EX,ATMOS_RESOURCEEXZ,OCEAN_RESOURCEEXZ
        [[[job]]]
            execution time limit =  PT{{'%02d' % (CLOCK[0])}}H{{'%02d' % (CLOCK[1])}}M{{'%02d' % (CLOCK[2])}}S
        [[[environment]]]
{% if IOS_NPROC is defined and IOS_NPROC > 0 %}
            UKMO_THREAD_MULTI=true
{% endif %}
            ROSE_LAUNCHER = mpiexec
            FI_MR_CACHE_MONITOR=memhooks
        [[[directives]]]
            -l select = '{{ATMOS_NODES}}:ncpus=256:mpiprocs={{ATMO_MPIPROC_PN}}+{{OCEAN_NODES}}:ncpus=256:mpiprocs={{OCEAN_PPN}}+{{XIOS_NODES}}:ncpus=256:mpiprocs={{XIOS_NPROC}}'

    [[ATMOSEXZ]]
        [[[environment]]]
            ATMOS_EXEC = $CYLC_SUITE_SHARE_DIR/fcm_make_umexz/build-atmos/bin/um-atmos.exe
            UM_ATM_NPROCX      = {{ATM_PROCX}}
            UM_ATM_NPROCY      = {{ATM_PROCY}}
            FLUME_IOS_NPROC    = {{IOS_NPROC}}
            ATMOS_TIMESTEPS_PER_DAY = 72
            ATMOS_SECONDS_PER_TIMESTEP = 1200
            NSTEP_RIVERS = 3
            COUPLING_HOURS = 1
            UMVN = 13.1

    [[OCEANEXZ]]
        [[[environment]]]
            OCEAN_EXEC=$CYLC_SUITE_SHARE_DIR/fcm_make_oceanexz/build-ocean/bin/nemo-cice.exe
            NEMO_IPROC = {{NEMO_IPROC_EXZ}}
            NEMO_JPROC = {{NEMO_JPROC_EXZ}}
	    NEMO_NPROC = {{NEMO_NPROC_EXZ}}
            NEMO_VERSION = 306
            NEMO_RST = $CYLC_SUITE_SHARE_DIR/data/drivers/History_Data/NEMOhist
            OCEAN_SEAICE_TIMESTEPS_PER_DAY = 72
            OCEAN_SEAICE_SECONDS_PER_TIMESTEP = 1200
            XIOS_NPROC = 6
            CICE_NPROC = {{NEMO_NPROC_EXZ}}
            CICE_RST = $CYLC_SUITE_SHARE_DIR/data/drivers/History_Data/CICEhist

    [[COUPLEDEXZ]]
        inherit = ATMOSEXZ,OCEANEXZ
        [[[environment]]]
            DRIVER_EXTRACT_DIR=$CYLC_SUITE_SHARE_DIR/fcm_make_driversexz
            L_MCT_VALIDATE = True
            CALENDAR = 360day
            RUNID = drive
            DATAM = $CYLC_SUITE_SHARE_DIR/data/drivers/History_Data
            MODELBASIS       = '{{ BASIS | join(',') }}'

    [[reconexz]]
        inherit = None, HPC_EX, COUPLEDEXZ
        pre-script = "{{MODULE_CMD}} module list"
        script = ". $ROSE_DATA/etc/um_ancils_gl; . $ROSE_DATA/etc/nemo_ancils_gl; rose task-run --verbose {{NON_RIGOROUS_PATH}}"
        [[[job]]]
            execution time limit = PT50M
        [[[directives]]]
            -l select=1:ncpus=256:mpiprocs={{RCF_PROCX * RCF_PROCY}}
        [[[environment]]]
            TASKEND          = '{{ BASIS | join(',') }}'
            RECON_LAUNCHER = mpiexec -n {{RCF_PROCX * RCF_PROCY}}
            ROSE_LAUNCHER_PREOPTS = -n {{RCF_PROCX * RCF_PROCY}}
            ROSE_TASK_APP    = coupledexz
            OMP_NUM_THREADS  = 1
            RCF_NPROCX       = {{RCF_PROCX}}
            RCF_NPROCY       = {{RCF_PROCY}}
            NEMO_NPROC       = 0

    [[coupledexz]]
        inherit = None, COUPLEDEXZ, COUPLED_RESOURCEEXZ
        pre-script = "{{MODULE_CMD}} module list"
        script = "module load scitools; . $ROSE_DATA/etc/um_ancils_gl; . $ROSE_DATA/etc/nemo_ancils_gl; rose task-run --verbose {{NON_RIGOROUS_PATH}}"
        [[[environment]]]
            PPN = {{PPN_EXZ}}
            CICE_ROW = 1205
            CICE_COL = 1440
            TASKSTART = $( rose date {{CYCLE_INIT}} --print-format %Y,%m,%d,%H,%M )
            TASKLENGTH = $( rose date {{CYCLE_INIT}} {{CYCLE_INIT}} --calendar 360day --offset2 P1D --print-format y,m,d,h,M,s )
            TASKEND = $( rose date {{CYCLE_INIT}} {{CYCLE_INIT}} --calendar 360day --offset2 P1D --print-format y,m,d,h,M,s )
            ROSE_TASK_APP          = coupledexz
            CPMIP_ANALYSIS = true
            CALENDAR = 360day
            CONTINUE               = ""
            CPMIP_ANALYSIS         = true
	    CYCLE = 'D'
            RESUB = 1
            COMPLEXITY = false
            TOTAL_POWER_CONSUMPTION = 4.8
            NODES_IN_HPC = 12932
	    IO_COST = true
            DATA_INTENSITY = true

    [[check_coupledexz]]
        inherit = HPC_EX, COUPLED
        pre-script = 'module load scitools'
        script = 'rose task-run --verbose'
        [[[job]]]
            execution time limit = PT10M
        [[[environment]]]
            ROSE_TASK_APP = check_coupled
            ROSE_TASK_N_JOBS = 1
            COUPLED_MODEL_WORK_DIR = coupledexz
        [[[directives]]]
            -l ncpus = 1
            -q = shared

    [[housekeeping_driver_linuxexz]]
        inherit=None, HOUSEKEEP_RESOURCE, HOUSEKEEPING
        [[[environment]]]
            RUNDIR="$CYLC_SUITE_WORK_DIR/1/fcm_make_driversexz $CYLC_SUITE_WORK_DIR/1/fcm_make_oceanexz $CYLC_SUITE_SHARE_DIR/fcm_make_driversexz $CYLC_SUITE_SHARE_DIR/fcm_make_oceanexz $CYLC_SUITE_WORK_DIR/1/housekeeping_driver_linuxexz"

    [[housekeeping_driver_hpcexz]]
        inherit=None, HPC_EX, HOUSEKEEPING
        [[[job]]]
            execution time limit = PT10M
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1
            RUNDIR="$CYLC_SUITE_SHARE_DIR/fcm_make_driversexz $CYLC_SUITE_SHARE_DIR/fcm_make_oceanexz $CYLC_SUITE_SHARE_DIR/fcm_make_umexz $CYLC_SUITE_SHARE_DIR/data/drivers $CYLC_SUITE_WORK_DIR/1/coupledexz $CYLC_SUITE_WORK_DIR/1/fcm_make2_driversexz $CYLC_SUITE_WORK_DIR/1/fcm_make2_oceanexz $CYLC_SUITE_WORK_DIR/1/fcm_make_umexz $CYLC_SUITE_WORK_DIR/1/install_ancilexz $CYLC_SUITE_WORK_DIR/1/reconexz $CYLC_SUITE_WORK_DIR/1/check_coupledexz $CYLC_SUITE_WORK_DIR/1/housekeeping_driver_hpcexz"
        [[[directives]]]
            -l ncpus = 1
            -q = shared
        